{% extends 'base.html'%}
{% block content %}
<body>
<h3> Select a report </h3>
<form action="" method='POST' name="myform">
    {{ form.report_type.label }} {{ form.hidden_tag() }} {{ form.report_type }}
    {{ form.report_date.label }} {{ form.report_date(class='datepicker') }} {{ form.hidden_tag() }}
    <p>
    {{form.submit()}}
    </p>
</form>

{% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
{% endfor %}
{{form.report}}
</body>

{% endblock %}